<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><title>Quize</title>
    <link rel='stylesheet' href='stylesheets/style.css' />
  </head>
  <body>
    <h2>Quiz: el juego ed las preguntas</h2>

    <form method="get" action="/quizes/answer">
      pregunta: <%= pregunta %> <p>
        <input type="text"  name="respuesta" value="Responda aquíi"/>
        <input type="submi" value="Enviar">
    </form>
  </body>
</html>
